// TYPOGRAPHY --------------------------------------------------

$main-font: "Titillium Web", sans-serif;
$main-font-2: 'Montserrat', sans-serif;
$main-font-3: 'Caveat', cursive;
$main-font-4: 'Special Elite', cursive;;
$main-font-5: 'Parisienne', cursive;;
